:root.everforest-dark {
	--background: hsl(193, 14%, 13%);
	--black: hsl(201, 15%, 23%);
	--red: hsl(359, 67%, 70%);
	--green: hsl(83, 34%, 63%);
	--yellow: hsl(40, 54%, 68%);
	--blue: hsl(172, 26%, 61%);
	--magenta: hsl(331, 39%, 72%);
	--cyan: hsl(135, 31%, 64%);
	--white: hsl(41, 36%, 76%)
}
:root.catppuccin-default {
	--background: hsl(254, 25%, 10%);
	--black: hsl(240, 21%, 15%);
	--red: hsl(342, 79%, 75%);
	--green: hsl(128, 58%, 79%);
	--yellow: hsl(41, 88%, 84%);
	--blue: hsl(207, 93%, 79%);
	--magenta: hsl(316, 72%, 86%);
	--cyan: hsl(171, 53%, 81%);
	--white: hsl(10, 56%, 91%)
}
:root.gruvbox-material {
	--black: hsl(20, 8%, 29%);
	--red: hsl(1, 80%, 66%);
	--green: hsl(71, 32%, 57%);
	--yellow: hsl(33, 62%, 62%);
	--blue: hsl(168, 24%, 58%);
	--magenta: hsl(345, 49%, 68%);
	--cyan: hsl(121, 23%, 62%);
	--white: hsl(35, 40%, 72%);
	--background: hsl(0, 0%, 13%)
}
:root.tokyonight-default {
	--background: hsl(235, 19%, 13%);
	--black: hsl(230, 24%, 19%);
	--red: hsl(349, 89%, 72%);
	--green: hsl(89, 51%, 61%);
	--yellow: hsl(36, 66%, 64%);
	--blue: hsl(221, 89%, 72%);
	--magenta: hsl(261, 85%, 79%);
	--cyan: hsl(202, 100%, 75%);
	--white: hsl(230, 71%, 92%)
}
:root.nightfox-night {
	--background: hsl(214, 32%, 14%);
	--black: hsl(229, 9%, 25%);
	--red: hsl(345, 53%, 55%);
	--green: hsl(151, 24%, 60%);
	--yellow: hsl(44, 59%, 66%);
	--blue: hsl(214, 55%, 64%);
	--magenta: hsl(263, 53%, 66%);
	--cyan: hsl(181, 53%, 60%);
	--white: hsl(240, 2%, 88%)
}
:root.nightfly-default {
	--background: hsl(205, 100%, 7%);
	--black: hsl(205, 100%, 16%);
	--red: hsl(359, 100%, 65%);
	--green: hsl(89, 48%, 62%);
	--yellow: hsl(45, 60%, 74%);
	--blue: hsl(218, 90%, 74%);
	--magenta: hsl(280, 60%, 74%);
	--cyan: hsl(170, 58%, 66%);
	--white: hsl(204, 100%, 96%)
}
:root.rosé-pine-main {
	--background: hsl(249, 22%, 12%);
	--black: hsl(247, 23%, 15%);
	--red: hsl(343, 76%, 68%);
	--green: hsl(197, 49%, 38%);
	--yellow: hsl(35, 88%, 72%);
	--blue: hsl(189, 43%, 73%);
	--magenta: hsl(267, 57%, 78%);
	--cyan: hsl(2, 55%, 83%);
	--white: hsl(245, 50%, 91%)
}

:root.rosé-pine-moon {
	--background: hsl(246, 24%, 17%);
	--black: hsl(248, 24%, 20%);
	--red: hsl(343, 76%, 68%);
	--green: hsl(197, 48%, 47%);
	--yellow: hsl(35, 88%, 72%);
	--blue: hsl(189, 43%, 73%);
	--magenta: hsl(267, 57%, 78%);
	--cyan: hsl(2, 66%, 75%);
	--white: hsl(245, 50%, 91%)
}
:root.sonokai-andromeda {
	--background: hsl(223, 9%, 15%);
	--black: hsl(228, 14%, 29%);
	--red: hsl(348, 92%, 67%);
	--green: hsl(96, 47%, 64%);
	--yellow: hsl(38, 83%, 70%);
	--blue: hsl(192, 71%, 65%);
	--magenta: hsl(268, 63%, 75%);
	--cyan: hsl(19, 96%, 70%);
	--white: hsl(200, 5%, 89%)
}
:root.kanagawa-default {
	--background: hsl(240, 13%, 14%);
	--black: hsl(240, 13%, 19%);
	--red: hsl(359, 52%, 51%);
	--green: hsl(87, 37%, 58%);
	--yellow: hsl(23, 100%, 70%);
	--blue: hsl(198, 41%, 65%);
	--magenta: hsl(341, 48%, 66%);
	--cyan: hsl(181, 37%, 74%);
	--white: hsl(51, 33%, 80%)
}
:root.ayu-mirage {
	--background: hsl(220, 21%, 16%);
	--black: hsl(220, 16%, 23%);
	--red: hsl(7, 77%, 69%);
	--green: hsl(85, 47%, 62%);
	--yellow: hsl(40, 93%, 73%);
	--blue: hsl(200, 93%, 70%);
	--magenta: hsl(260, 86%, 85%);
	--cyan: hsl(160, 57%, 72%);
	--white: hsl(0, 0%, 78%)
}
.black {
	background: var(--black);
}
.red {
	background: var(--red);
}
.green {
	background: var(--green);
}
.yellow {
	background: var(--yellow);
}
.blue {
	background: var(--blue);
}
.magenta {
	background: var(--magenta);
}
.cyan {
	background: var(--cyan);
}
.white {
	background: var(--white);
}
