body {
	padding: 0;
	margin: 0;
}

.main {
	background: var(--background, white);
	display: grid;
	grid-template-rows: 2fr 18fr 1.5fr;
	grid-template-areas: "header" "blocks" "footer";
	height: 100vh;
	color: var(--white, black);
	font-family: 'Helvetica Neue', sans-serif;
}

.blocks {
	list-style: none;
	padding: 1rem;
	display: flex;
	justify-content: center;
	gap: 1.5rem;
	flex-wrap: wrap;
	place-self: center;
	grid-area: blocks;
}

.color-block {
	--size: 64px;
	width: var(--size);
	height: var(--size);
	border-radius: 50%;
}

header,
footer {
	background: var(--black);
	text-transform: uppercase;
	text-align: center;
	padding: 0 1.8rem;
	font-family: 'Teko', sans-serif;
	letter-spacing: 0.5rem;
}

header {
	grid-area: header;
}

footer {
	grid-area: footer;
}