body {
	padding: 0;
	margin: 0;
}

#main {
	background: var(--background, white);
	display: grid;
	grid-template-rows: 3fr 2fr 4fr 2fr 1fr;
	grid-template-columns: 1fr 3fr 1fr;
	height: 100vh;
	color: var(--white, black);
	font-family: 'Helvetica Neue', sans-serif;
}

.blocks {
	list-style: none;
	padding: 1rem;
	display: flex;
	justify-content: center;
	gap: 1.5rem;
	flex-wrap: wrap;
	place-self: center;
	grid-row-start: 3;
}

.color-block {
	--size: 64px;
	width: var(--size);
	height: var(--size);
	border-radius: 50%;
}

header,
footer {
	background: var(--black);
	user-select: none;
	text-transform: uppercase;
	text-align: center;
	padding: 0 1.8rem;
	font-family: 'Teko', sans-serif;
	letter-spacing: 0.5rem;
}

header {
	grid-column: 1 / span 3;
}

footer {
	grid-column: 1 / span 3;
}

button {
	background: none;
	color: var(--white);
	border: none;
}

.btn-wrapper:hover {
	background: var(--black);
}

.prev-scheme, .next-scheme {
	grid-column: 1 / span 3;
}

.prev-scheme {
	grid-row-start: 2;
}

.next-scheme {
	grid-row-start: 4;
}

.center-everything {
	display: flex;
	justify-content: center;
	align-items: center;
}

button.prev-scheme, button.next-scheme {
	transform: rotate(90deg);
}

.prev-variant, .next-variant {
	grid-row: 2 / span 3;
	grid-column-end: span 1;
}

.prev-variant {
	grid-column-start: 1;
}

.next-variant {
	grid-column-start: 3;
}
