:root {
	--translation-amount: 24%;
}

* {
	-webkit-tap-highlight-color: transparent;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body {
	padding: 0;
	margin: 0;
}

#main {
	background: var(--background, white);
	display: grid;
	grid-template-rows: 2fr 1fr 4fr 1fr 1fr;
	grid-template-columns: 1fr 3fr 1fr;
	color: var(--white, black);
	font-family: 'Helvetica Neue', sans-serif;
	min-height: 100vh;
}

.blocks {
	list-style: none;
	padding: 1rem;
	display: flex;
	justify-content: center;
	gap: 1.5rem;
	flex-wrap: wrap;
	place-self: center;
	grid-row-start: 3;
}

.color-block {
	--size: 64px;
	width: var(--size);
	height: var(--size);
	border-radius: 50%;
}

header,
footer {
	background: var(--black);
	user-select: none;
	text-transform: uppercase;
	text-align: center;
	padding: 0 1.8rem;
	font-family: 'Teko', sans-serif;
	letter-spacing: 0.5rem;
	display: grid;
	grid-template-columns: 4fr 5fr;
	grid-template-rows: 1fr;
}

.row-fill {
	grid-column: 1 / -1;
}

.arrow>svg>g {
	transform-origin: center;
}

.arrow {
	--size: 32px;
	width: var(--size);
	height: var(--size);
	color: var(--white);
	border: none;
	border-radius: 1.5rem;
	transform-origin: center center;
	transition: transform 512ms, opacity 420ms;
}

.arrow.disabled {
	opacity: 0;
}

.btn-wrapper {
	cursor: pointer;
}

.btn-wrapper:active>.arrow {
	transform: translate(var(--translation));
}


.center-everything {
	display: flex;
	justify-content: center;
	align-items: center;
}

.prev-variant,
.next-variant {
	grid-row: 2 / span 3;
	grid-column-end: span 1;
}

.prev-scheme,
.next-scheme {
	grid-column: 1 / span 3;
}

.prev-scheme {
	grid-row-start: 2;
	--translation: 0, calc(var(--translation-amount) * -1);
}

.next-scheme {
	grid-row-start: 4;
	--translation: 0, var(--translation-amount);
}

.prev-variant {
	grid-column-start: 1;
	--translation: calc(var(--translation-amount) * -1), 0;
}

.next-variant {
	grid-column-start: 3;
	--translation: var(--translation-amount), 0;
}

.left-span {
	grid-column: 1 / span 1;
}

.left-span,
.right-span {
	grid-row-start: 1;
	cursor: pointer;
}

.right-span {
	grid-column: 2 / -1;
}

#scheme-name,
#scheme-variant {
	grid-row-start: 1;
}